{
    "openapi": "3.0.3",
    "info": {
        "title": "Exasol SaaS REST-API",
        "description": "## Authentication\n\nThe REST API can be used with your Personal Access Token (PAT). If you don't know what a PAT is, check our documentation \n[here](https://docs.exasol.com/saas/administration/access_mngt/access_token.htm).\n\nAfter you created a PAT click on Authorize and add your PAT under BearerAuth.\n",
        "version": "1.0",
        "download": {
            "source": "https://cloud.exasol.com/openapi.json",
            "timestamp": "2026-05-12T08:07:30.919337+00:00"
        }
    },
    "servers": [
        {
            "url": "https://cloud.exasol.com"
        }
    ],
    "tags": [
        {
            "name": "Databases",
            "description": "Calls to interact with your database"
        },
        {
            "name": "Clusters",
            "description": "Calls to interact with your clusters"
        },
        {
            "name": "Platform",
            "description": "Calls to get platform information"
        },
        {
            "name": "Users",
            "description": "Calls to manage users"
        },
        {
            "name": "Usage",
            "description": "Get usage"
        }
    ],
    "paths": {
        "/api/v1/accounts/{accountId}/usage": {
            "get": {
                "summary": "",
                "description": "",
                "operationId": "GetUsage",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "yearMonth",
                        "in": "query",
                        "description": "YYYY-MM",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/yearMonth"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Response format",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/type"
                        }
                    }
                ],
                "tags": [
                    "Usage"
                ],
                "responses": {
                    "200": {
                        "description": "Usage information per month",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Usage"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/clusters": {
            "post": {
                "summary": "",
                "description": "",
                "operationId": "CreateCluster",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Clusters"
                ],
                "requestBody": {
                    "description": "Request body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCluster"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A cluster",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Cluster"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "",
                "description": "",
                "operationId": "ListClusters",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Clusters"
                ],
                "responses": {
                    "200": {
                        "description": "List of clusters from one database",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Cluster"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/clusters/{clusterId}": {
            "delete": {
                "summary": "",
                "description": "",
                "operationId": "DeleteCluster",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "clusterId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/clusterId"
                        }
                    }
                ],
                "tags": [
                    "Clusters"
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "",
                "description": "",
                "operationId": "GetCluster",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "clusterId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/clusterId"
                        }
                    }
                ],
                "tags": [
                    "Clusters"
                ],
                "responses": {
                    "200": {
                        "description": "A cluster",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Cluster"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "",
                "description": "",
                "operationId": "UpdateCluster",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "clusterId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/clusterId"
                        }
                    }
                ],
                "tags": [
                    "Clusters"
                ],
                "requestBody": {
                    "description": "Request body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCluster"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/clusters/{clusterId}/connect": {
            "get": {
                "summary": "",
                "description": "",
                "operationId": "GetClusterConnection",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "clusterId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/clusterId"
                        }
                    }
                ],
                "tags": [
                    "Clusters"
                ],
                "responses": {
                    "200": {
                        "description": "Information about the cluster connection",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClusterConnection"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/clusters/{clusterId}/scale": {
            "put": {
                "summary": "",
                "description": "",
                "operationId": "ScaleCluster",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "clusterId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/clusterId"
                        }
                    }
                ],
                "tags": [
                    "Clusters"
                ],
                "requestBody": {
                    "description": "Request body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ScaleCluster"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/clusters/{clusterId}/start": {
            "put": {
                "summary": "",
                "description": "",
                "operationId": "StartCluster",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "clusterId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/clusterId"
                        }
                    }
                ],
                "tags": [
                    "Clusters"
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/clusters/{clusterId}/stop": {
            "put": {
                "summary": "",
                "description": "",
                "operationId": "StopCluster",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "clusterId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/clusterId"
                        }
                    },
                    {
                        "name": "actor",
                        "in": "query",
                        "description": "The user or system that initiated the stop cluster request",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/actor"
                        }
                    }
                ],
                "tags": [
                    "Clusters"
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases": {
            "post": {
                "summary": "",
                "description": "",
                "operationId": "CreateDatabase",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "requestBody": {
                    "description": "Request body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDatabase"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A database",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Database"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "",
                "description": "",
                "operationId": "ListDatabases",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "responses": {
                    "200": {
                        "description": "List of databases the user has access to",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Database"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}": {
            "delete": {
                "summary": "",
                "description": "",
                "operationId": "DeleteDatabase",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "",
                "description": "",
                "operationId": "GetDatabase",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "responses": {
                    "200": {
                        "description": "A database",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Database"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "",
                "description": "",
                "operationId": "UpdateDatabase",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "requestBody": {
                    "description": "Request body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateDatabase"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/extensions": {
            "get": {
                "summary": "",
                "description": "",
                "operationId": "ListExtensions",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Extensions"
                ],
                "responses": {
                    "200": {
                        "description": "List of extensions the user has access to",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Extension"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/extensions/{extensionId}/{extensionVersion}/install": {
            "put": {
                "summary": "",
                "description": "",
                "operationId": "InstallExtension",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "extensionId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/extensionId"
                        }
                    },
                    {
                        "name": "extensionVersion",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Extensions"
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/extensions/{extensionId}/{extensionVersion}/uninstall": {
            "put": {
                "summary": "",
                "description": "",
                "operationId": "UninstallExtension",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "extensionId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/extensionId"
                        }
                    },
                    {
                        "name": "extensionVersion",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Extensions"
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/extensions/{extensionId}/{extensionVersion}": {
            "get": {
                "summary": "",
                "description": "",
                "operationId": "GetExtension",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "extensionId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/extensionId"
                        }
                    },
                    {
                        "name": "extensionVersion",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Extensions"
                ],
                "responses": {
                    "200": {
                        "description": "Get details about an extension version",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtensionDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Extension does not support instances",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/extensions/{extensionId}/{extensionVersion}/instances": {
            "post": {
                "summary": "",
                "description": "",
                "operationId": "CreateExtensionInstance",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "extensionId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/extensionId"
                        }
                    },
                    {
                        "name": "extensionVersion",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Extensions"
                ],
                "requestBody": {
                    "description": "Request body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateExtensionInstance"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Creates an instance of an extension",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtensionInstance"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Extension does not support instances",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "",
                "description": "",
                "operationId": "ListExtensionInstances",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "extensionId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/extensionId"
                        }
                    },
                    {
                        "name": "extensionVersion",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Extensions"
                ],
                "responses": {
                    "200": {
                        "description": "List instances from a specific extension version",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/WorksheetConnection"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Extension does not support instances",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/extensions/{extensionId}/{extensionVersion}/instances/{instanceId}": {
            "delete": {
                "summary": "",
                "description": "",
                "operationId": "DeleteExtensionInstance",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "extensionId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/extensionId"
                        }
                    },
                    {
                        "name": "extensionVersion",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "instanceId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/instanceId"
                        }
                    }
                ],
                "tags": [
                    "Extensions"
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/settings": {
            "get": {
                "summary": "",
                "description": "",
                "operationId": "GetDatabaseSettings",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "responses": {
                    "200": {
                        "description": "database setting",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DatabaseSettings"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "summary": "",
                "description": "",
                "operationId": "SetAutoUpdatesDatabase",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "requestBody": {
                    "description": "Request body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetAutoUpdatesDatabase"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/upgrade": {
            "get": {
                "summary": "",
                "description": "",
                "operationId": "GetDatabaseUpgradeInfo",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "responses": {
                    "200": {
                        "description": "A database upgrade info",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DatabaseUpgradeInfo"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "",
                "description": "",
                "operationId": "UpgradeDatabase",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/start": {
            "put": {
                "summary": "",
                "description": "",
                "operationId": "StartDatabase",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/stop": {
            "put": {
                "summary": "",
                "description": "",
                "operationId": "StopDatabase",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/dlhc-activate": {
            "get": {
                "summary": "",
                "description": "",
                "operationId": "GetDlhcActivateStatus",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "responses": {
                    "200": {
                        "description": "dlhc activate status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DlhcActivateStatus"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "",
                "description": "",
                "operationId": "DlhcActivate",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "responses": {
                    "202": {
                        "description": "Request accepted for processing; activation is in progress",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/folder/{key}": {
            "post": {
                "summary": "",
                "description": "",
                "operationId": "CreateFolder",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/key"
                        }
                    }
                ],
                "tags": [
                    "Files"
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "",
                "description": "",
                "operationId": "DeleteFolder",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/key"
                        }
                    }
                ],
                "tags": [
                    "Files"
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/files/{key}": {
            "delete": {
                "summary": "",
                "description": "",
                "operationId": "DeleteFile",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/key"
                        }
                    }
                ],
                "tags": [
                    "Files"
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "",
                "description": "",
                "operationId": "UploadFile",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/key"
                        }
                    }
                ],
                "tags": [
                    "Files"
                ],
                "responses": {
                    "200": {
                        "description": "URL to upload the file",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadFile"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/internal/accounts/{accountId}/databases/{databaseId}/files/{key}": {
            "get": {
                "summary": "",
                "description": "",
                "operationId": "DownloadFile",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "key",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/key"
                        }
                    }
                ],
                "tags": [
                    "Files"
                ],
                "responses": {
                    "200": {
                        "description": "Url to download the file",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DownloadFile"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/files": {
            "get": {
                "summary": "",
                "description": "",
                "operationId": "ListFiles",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Files"
                ],
                "responses": {
                    "200": {
                        "description": "List of files from one database",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/FileOpenapi"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/schedules": {
            "get": {
                "summary": "",
                "description": "",
                "operationId": "ListSchedules",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "responses": {
                    "200": {
                        "description": "List of schedules for database",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Schedule"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "",
                "description": "",
                "operationId": "CreateSchedule",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "requestBody": {
                    "description": "Request body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Schedule"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created schedule",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Schedule"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/schedules/{actionId}": {
            "delete": {
                "summary": "",
                "description": "",
                "operationId": "DeleteSchedule",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "actionId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/actionId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/schedules/{actionId}/state": {
            "patch": {
                "summary": "",
                "description": "",
                "operationId": "UpdateScheduleState",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "actionId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/actionId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "requestBody": {
                    "description": "Request body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateScheduleState"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/databases/{databaseId}/schedules/{actionId}/cronRule": {
            "patch": {
                "summary": "",
                "description": "",
                "operationId": "UpdateScheduleCronRule",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    },
                    {
                        "name": "databaseId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/databaseId"
                        }
                    },
                    {
                        "name": "actionId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/actionId"
                        }
                    }
                ],
                "tags": [
                    "Databases"
                ],
                "requestBody": {
                    "description": "Request body",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateScheduleCronRule"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/platforms": {
            "get": {
                "summary": "",
                "description": "",
                "operationId": "ListPlatforms",
                "parameters": [],
                "tags": [
                    "Platform"
                ],
                "responses": {
                    "200": {
                        "description": "List of all platforms",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/WorksheetConnection"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/platforms/{platform}/regions": {
            "get": {
                "summary": "",
                "description": "",
                "operationId": "ListRegions",
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Platform"
                ],
                "responses": {
                    "200": {
                        "description": "Get available regions for given platform",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Region"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/platforms/{platform}/sizes": {
            "get": {
                "summary": "",
                "description": "",
                "operationId": "ListClusterSizes",
                "parameters": [
                    {
                        "name": "platform",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Platform"
                ],
                "responses": {
                    "200": {
                        "description": "Get available cluster sizes for given platform",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "required": [
                                            "size",
                                            "price",
                                            "vcpu",
                                            "ram",
                                            "isDefault",
                                            "name"
                                        ],
                                        "properties": {
                                            "size": {
                                                "type": "string"
                                            },
                                            "price": {
                                                "type": "number"
                                            },
                                            "vcpu": {
                                                "type": "number"
                                            },
                                            "ram": {
                                                "type": "number"
                                            },
                                            "isDefault": {
                                                "type": "boolean"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "family": {
                                                "type": "string"
                                            }
                                        },
                                        "additionalProperties": false,
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/accounts/{accountId}/security/allowlist_ip": {
            "post": {
                "summary": "",
                "description": "",
                "operationId": "AddAllowedIP",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    }
                ],
                "tags": [
                    "Security"
                ],
                "requestBody": {
                    "description": "Allowed IP range to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAllowedIP"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Allowed ip range",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AllowedIP"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "",
                "description": "",
                "operationId": "ListAllowedIPs",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/accountId"
                        }
                    }
                ],
                "tags": [
                    "Security"
                ],
                "responses": {
                    "200": {
                        "description": "List of allowed ip ranges",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AllowedIP"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default api error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                }
            }
        },
[...]
